<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  <title>AIR CANVAS</title>
</head>

<body>
  <br>
  <center>
    <h1><b>Welcome to Air Canvas!</b></h1>
    <form action="{{url_for('user_routes.video')}}"><br><br><br><br>
      <h4 id="content"><b>Ever wanted to draw your imagination by just waving your finger in the air?<br>My project allows you to
          capture what you draw in air!<br>Don't believe me? Go ahead and click on the button below!</b> </h4><br>

      <button> LET'S DRAW </button>
    </form> <br><br><br>
  </center>

  {% include "footer.html" %}
</body>

</html>