<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/loginpage.css') }}">
  <title>AIR CANVAS</title>
</head>

<body>
  <br>
  <center>
    <h1><b>Welcome to Air Canvas!</b></h1>
    <br>
    <h1> Please Login First </h1>
    {% if error %}
        <p style="color: red;">{{ error }}</p>  <!-- Display the error message -->
    {% endif %}
    {% if login %}
        <p style="color: blue;">{{ login }}</p>  <!-- Display the error message -->
    {% endif %}
    {% if logout %}
        <p style="color: blue;">{{ logout }}</p>  <!-- Display the error message -->
    {% endif %}
    <form action="{{ url_for('auth_routes.login_page') }}" method="POST">
      <input name="user" id="user" type="text" placeholder="Username">
      <input name="pass" id="pass" type="password" placeholder="Password">
      <button> Login </button>
    </form>
    <a href="{{ url_for('auth_routes.signup_page') }}"> Create a New Account</a>
  </center>
  {% include "footer.html" %}
</body>

</html>