<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
  <title>AIR CANVAS</title>
</head>

<body>
  <br>
  <center>
    <h1><b>Welcome to Air Canvas!</b></h1>
    <!-- Initially hide the image -->
    <img src="" id="canvas" style="display: none;"><br><br>
    <a href="javascript:void(0);" role="button" id="pause" onclick="toggleVideo()">START</a>
    <a href="{{url_for('user_routes.index')}}" role="button">BACK</a>
  </center>

  {% include "footer.html" %}

  <script>
    function toggleVideo() {
      const videoContainer = document.getElementById('canvas');
      const button = document.getElementById('pause');

      if (videoContainer.style.display === 'none') {
        // Show the image and change button text to STOP
        videoContainer.style.display = 'block';
        videoContainer.src = "{{ url_for('user_routes.video_feed') }}";
        button.textContent = 'STOP';
      } else {
        // Hide the image and break the connection
        videoContainer.style.display = 'none';
        videoContainer.src = "";
        button.textContent = 'START';
      }
    }
  </script>

</body>

</html>