body {
    background-image: url("f1.jpg");
    background-size: cover;
  }

button, a {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 120px;
    font-size: 16px;
    text-decoration: none;
}

h1 {
  color: #333;
  margin-bottom: 20px;
  font-weight: lighter;
  font-size: 2em;
  font-family: Arial, sans-serif;
}

#content {
  font-size: 20px;
  text-align: center;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  font-family: Arial, sans-serif;
}