body {
    background-color: #f7f7f7;
    font-family: Arial, sans-serif;
    margin : auto;
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-weight: lighter;
    font-size: 2em;
}

form {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px; 
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-size: 14px; /* Adjusted font size */
}

a:hover {
    text-decoration: underline;
}
